body {
    background-color: black;
}

#box {
    background-color: lawngreen;
    width: 500px;
    margin: 231px 0 0 489px;
    border-radius: 52px;
    text-align: center;

}

#dot{
    list-style: none;
}


canvas{


    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}

*{

    margin: 0;
    padding: 0;
    
}